div{
    background-image: url(img/fondo.jpg);
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cabecera img{
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.cabecera h1{
    text-align: right;
    font-size: 30px;
    color: rgb(27, 153, 192);
    background: rgb(216, 214, 214);
    padding: 5px 5px;
    text-shadow: 3px 3px 5px
   /*se me complico esto y lo deje asi, perdi mas tiempo aca :c*/
}
#principal h3{
    text-align: right;
}
#inicio h2{
    text-decoration: underline;
}
   
.cuadro1 h4{
    background-color: red;
}
.cuadro2 h4{
    background-color: aqua;
}
.cuadro3 h4{
    background-color: greenyellow;
}
#mitad h4{
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 14px;
}

#mitad{
    border:3px solid black;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}

#mitad div{
    width: 250px;
    background: rgb(241, 241, 241);
    border: 5px solid white;
    text-align: left;
    
}
#mitad img{
    width: 100px;
    display: block;
    margin: auto;

}
#mitad p{
    padding: 10px;
    font-size: medium;
}
#final{
    border:3px solid black;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}
.html h4{
    background-color: red;
    text-align: center;
}
.css h4{
    background-color: aqua;
    text-align: center;
}
.java h4{
    background-color: greenyellow;
    text-align: center;
}
#final div{
    width: 250px;
    background: rgb(241, 241, 241);
    border: 5px solid white;
    text-align: left;
}
#final h4{
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 14px;
}
#final p{
    padding: 10px;
    font-size: medium;
}
#casa{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
    margin: 10px auto;
    max-width: 40%;
    height: 20%;
    box-shadow: 10px 10px 40px;
}
#resumen h2{
    text-decoration: underline;
}
.frase{
    background: white;
    border: 1px solid rgb(180, 178, 178);
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 10px 10px 10px rgb(126, 124, 124);
    font-size: 14px;
    text-align: center;
}
